.carousel-cell {
    width: 100%; /* full width */
    height: 400px;
    background: #222;
    /* center images in cells with flexbox */
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width:100%;
        height: 100%;
    }
  }



  @media only screen and (max-width: 840px){
    .carousel-cell{
        height: 300px;
        img{
            width:100%;
            height:80%;
        }
    } 
  }

  @media only screen and (max-width: 510px){
    .carousel-cell{
        height: 200px;
        img{
            width:100%;
            height:70%;
        }
    } 
  }

