@import './src/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navigation{
    background: rgb(2,10,51);
    background: linear-gradient(135deg, rgba(2,10,51,1) 0%, rgba(71,30,124,1) 100%);
    position: sticky;
    z-index: 999;
    top:0;
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: $padding-right;
    padding-left: $padding-left;
    
    .wrapper{


        .buttons{
            display: flex;
            justify-content: flex-start;
            align-content: center;
            gap: 17.7vw;

            .link-btn{
                color: rgba(238, 238, 238, 0.8);
                font-family: $fira-code;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1rem;
                font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
                font-weight: 300;
                letter-spacing: 3.60px;
                transition: 0.2s all ease-in-out;
                

                &:hover{
                    color:rgba(231, 177, 10, 1);
                    cursor: pointer;
                    transition: 0.2s all ease-in-out;
                }
            }
            
        }
    }
}

.scroll{
    background: rgb(2,10,51);
    background: linear-gradient(135deg, rgba(2,10,51,0.5) 0%, rgba(71,30,124,0.5) 100%);
    transition: 0.2s all ease-in-out;
}


@media only screen and (max-width: 600px){
    .navigation{
        justify-content: center;
        background: rgb(2,10,51);
        background: linear-gradient(135deg, rgba(2,10,51,1) 0%, rgba(71,30,124,1) 100%);
    }
    
    .scroll{
        background: rgb(2,10,51);
        background: linear-gradient(135deg, rgba(2,10,51,0.5) 0%, rgba(71,30,124,0.5) 100%);
    }

}