@import './src/variables.scss';
@import './src/animations.scss';

.abilities{
    font-family: $fira-code;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $padding-all;
    background: rgb(2,10,51);
    background: linear-gradient(35deg, rgba(2,10,51,1) 0%, rgba(71,30,124,1) 100%);

    .title-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .upper-subtitle{
            letter-spacing: 5px;
            color: $main-color-2;
            font-size: 1rem;
            font-size: clamp(0.5rem, 0rem + 3vw, 1.3rem);
            font-family: $roboto !important;
            text-align: center;
        }

        .title{
            text-transform: uppercase;
            font-family: $roboto !important;
            font-weight: 500;
            font-size: 1rem;
            font-size: clamp(2rem, 0rem + 5vw, 2.5rem);
            letter-spacing: 9px;
            text-align: center;

        }

        .under-subtitle{
            padding: 3rem;
            font-size: 1rem;
            font-size: clamp(0.8rem, 0rem + 3vw, 1.3rem);
            text-align: center;
        }
    }

    .skills-box{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        padding-bottom: $padding-bottom;
        padding-top: $padding-top;

        .wrapper{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            .skill{
                height: 15rem;
                width: 15rem;
                background: $secondary-color;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 2rem;
                text-align: center;

            }

            .skill-text{
                transform: rotate(0deg) !important;
                font-size: 1rem;
                font-size: clamp(0.7rem, 0rem + 3vw, 1.3rem);
            }

            .short-description{
                color:$main-color-2;
                text-align: center;
                font-size: 1rem;
                font-size: clamp(0.7rem, 0rem + 3vw, 1.3rem);
            }
        }
    }

    .button-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .work-path{
            text-decoration: none;
        }

        .find-more{
            display: flex;
            justify-content: center;
            align-items: center;
            color: $main-color-1;
            font-weight: 300;
            font-size: 1.2rem;
            width: 14.35rem;
            height:4.37rem;
            cursor: pointer;
            background-color: $secondary-color;
            border: 1px solid transparent;
            border-radius: 5px;
            transition: 0.2s all ease-in-out;
            position: relative;

            svg{
                path{
                    transition: 0.2s all ease-in-out;
                }
            }

            &:hover{
                transition: 0.2s all ease-in-out;
                border: 1px solid $main-color-2;
                color: $main-color-2;

                svg{
                    path{
                        transition: 0.2s all ease-in-out;
                        stroke: $main-color-2;
                    }
                }
            }
        }

    }
}

.flip-horizontal-top {
	-webkit-animation: flip-horizontal-top 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-horizontal-top 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

// ANOTHER SIZERS , RESPONSIVE.

@media only screen and (max-width: 510px){
    .abilities {
        padding-top: 2rem;
        .title-box{
            .upper-subtitle{
                letter-spacing: 2px;
            }

            .title{
                letter-spacing: 3px;
            }
        }
        
        .skills-box{
            .wrapper{
                .skill{
                    width: 10rem;
                    height: 10rem;
                }
            }
        }
        .button-box {
            .find-more{
                font-size: 0.9rem;
                width: 9.35rem;
                height:2.37rem;
            }
        }
    }
}