@import "./src/variables.scss";
@import "./src/animations.scss";

.about {
  font-family: $fira-code;
  position: relative;
  background: rgb(2,10,51);
  background: linear-gradient(45deg, rgba(2,10,51,1) 0%, rgba(71,30,124,1) 100%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: $padding-all;
  gap: 3vw;
  overflow: hidden;

  .bk-shape{
    position: absolute;
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    background-color: $main-color-2;
    filter: blur(10rem);
    top: -30%;
    left: 70%;
    z-index: 1;
  }

  .avatar-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:4rem;
    z-index: 2;
    
    .design-square {
      position: relative;
      background-color: $secondary-color;
      width: 15rem;
      height: 15rem;

      .avatar {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;


        img {
          width: 15rem;
          height: 15rem;
        }
      }
    }

    .text-box-1{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      z-index: 2;


      .title-box {
        font-size: 1rem;
        font-size: clamp(0.7rem, 0rem + 5vw, 1.4rem);
        color: $main-color-1;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: 300;
      }
    
      .name-box{
        font-size: 1rem;
        font-size: clamp(1.5rem, 0rem + 5vw, 3rem);
        color: $main-color-2;
        font-family: $roboto;
        font-weight: 500;
      }
    }
  }

  .text-box {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding-top: 1.7rem;
    z-index: 2;

    .content-box {
      text-align: justify;
      font-weight: 300;
      font-size: 1rem;
      font-size: clamp(0.8rem, 0rem + 3vw, 1.2rem);
    }

    .button-box {

      .story-path{
        text-decoration: none;
      }

      .see-more {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $main-color-1;
        font-weight: 300;
        font-size: 1.2rem;
        width: 14.35rem;
        height: 4.37rem;
        cursor: pointer;
        background-color: $secondary-color;
        border: 1px solid transparent;
        border-radius: 5px;
        transition: 0.2s all ease-in-out;
        text-decoration: none;

        svg {
          path {
            transition: 0.2s all ease-in-out;
          }
        }

        &:hover {
          transition: 0.2s all ease-in-out;
          border: 1px solid $main-color-2;
          color: $main-color-2;

          svg {
            path {
              transition: 0.2s all ease-in-out;
              stroke: $main-color-2;
            }
          }
        }
      }
    }
  }
}

// ANOTHER SIZERS , RESPONSIVE.

@media only screen and (max-width: 1096px) {
  .about {
    flex-direction: column;
    padding-bottom: 5rem;

    .text-box {
      justify-content: center;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 1060px) {
  .about {
    align-items: center;

    .avatar-box {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4rem;
    }

    .text-box {
      .button-box {
        padding-top: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 510px) {
  .about {
    align-items: center;

    .avatar-box {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4rem;

      .design-square {
        width: 15rem;
        height: 15rem;

        .avatar {
          top: 1rem;
          left: 1rem;

          img {
            width: 15rem;
            height: 15rem;
          }
        }
      }
      .text-box-1{
        .title-box{
          text-align: center;
        }
      }
    }
    .text-box {
      .button-box {
        .see-more {
          font-size: 0.9rem;
          width: 9.35rem;
          height: 2.37rem;
        }
      }
    }
  }
}
