@import './src/variables.scss';
@import './src/animations.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

// GENERAL SETTINGS
.container{
    background-color: $primary-color;
    color: $main-color-1;
}





