@import './src/variables.scss';
@import './src/animations.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

// GENERAL SETTINGS
.container{
    background-color: $primary-color;
    color: $main-color-1;
}

// HOME
.home{
    padding-left: $padding-left;
    padding-right: $padding-right;
    background-color: $primary-color;
    background-image: url(../../Assets/hpbackground.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    background-blend-mode:lighten;
    font-family: $fira-code;

    .text-box{
        padding-top: 12rem;
        padding-bottom: 12rem;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .main-title-1, .main-title-2{
        font-size: 1rem;
        font-size: clamp(3rem, 0rem + 5vw, 6rem);
        font-weight: 300;
        text-shadow: 0px 5px 10px rgba(0,0,0,1);
    }

    .main-title-1{
        color:$main-color-1;
    }

    .main-title-2{
        color:$main-color-2;
        letter-spacing: 9.60px;
    }

    .subtitle{
        color:$main-color-1;
        font-size: 1rem;
        font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
        font-weight: 300;
        letter-spacing: 4.80px;
        text-shadow: 0px 5px 10px rgba(0,0,0,1);
    }

    .social-box{

        .social-media{
            display: flex;
            flex-direction: row;
            gap: 17.7vw;
            padding:2rem 0;

            img{
                transition: 0.2s all ease-in-out;
                
                &:hover{
                    transition: 0.2s all ease-in-out;
                    filter: invert(54%) sepia(86%) saturate(420%) hue-rotate(8deg) brightness(106%) contrast(107%);
                }
            }
        }
    }
    .buffer1, .buffer2{
        height: 6vh;
    }
}
// ABOUT

.about{
    font-family: $fira-code;
    background: $secondary-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: $padding-all;
    gap: 4rem;

    .avatar-box{
        border: 2px solid $main-color-2;

        .design-square{
            position:relative;
            background-color: $primary-color;
            width: 45vw;
            height: 45vw;
            
            .avatar{
                position: absolute;
                border: 2px solid $main-color-2;
                top:2rem;
                left:2rem;

                img{
                    width: 45vw;
                    height: 45vw;
                }

            }
        }
    }

    .text-box{
        display: flex;
        flex-direction: column;
        gap: 6vw;
        padding-top: 1.7rem;
        hr{
            border:1px solid $main-color-2;
            width: 100%;
        }

        .title-box{
            font-size: 1rem;
            font-size: clamp(2rem, 0rem + 5vw, 3.4rem);
            color: $main-color-2;
            text-transform: uppercase;
            letter-spacing: 9.60px;
            font-weight: 300;
        }
        
        .content-box{
            text-align: justify;
            font-weight: 300;
            font-size: 1rem;
            font-size: clamp(0.5rem, 0rem + 3vw, 1.2rem);
        }
        
        .button-box{
            .see-more{
                display: flex;
                justify-content: center;
                align-items: center;
                color: $main-color-1;
                font-weight: 300;
                font-size: 1.2rem;
                width: 14.35rem;
                height:4.37rem;
                cursor: pointer;
                background-color: $primary-color;
                border: 1px solid $main-color-1;
                transition: 0.2s all ease-in-out;

                svg{
                    path{
                        transition: 0.2s all ease-in-out;
                    }
                }

                &:hover{
                    transition: 0.2s all ease-in-out;
                    border: 1px solid $main-color-2;
                    color: $main-color-2;

                    svg{
                        path{
                            transition: 0.2s all ease-in-out;
                            stroke: $main-color-2;
                        }
                    }
                }
            }
        }
    }
}


// ABILITIES

.abilities{
    font-family: $fira-code;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $padding-all;

    .title-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .upper-subtitle{
            letter-spacing: 9px;
            color: $main-color-2;
            font-size: 1rem;
            font-size: clamp(0.5rem, 0rem + 3vw, 1.3rem);
        }

        .title{
            text-transform: uppercase;
            font-size: 1rem;
            font-size: clamp(2rem, 0rem + 5vw, 2.5rem);
            letter-spacing: 9px;
        }

        .under-subtitle{
            padding: 4rem;
            font-size: 1rem;
            font-size: clamp(0.5rem, 0rem + 3vw, 1.3rem);
        }
    }

    .skills-box{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        padding-bottom: $padding-bottom;

        .wrapper-test{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            .skill{
                height: 18rem;
                width: 18rem;
                border: 1px solid $main-color-2;
                background: $secondary-color;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 2rem;

            }

            .skill-text{
                transform: rotate(0deg) !important;
            }

            .short-description{
                color:$main-color-2;
            }
        }
    }

    .button-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .find-more{
            display: flex;
            justify-content: center;
            align-items: center;
            color: $main-color-1;
            font-weight: 300;
            font-size: 1.2rem;
            width: 14.35rem;
            height:4.37rem;
            cursor: pointer;
            background-color: $secondary-color;
            border: 1px solid $main-color-1;
            transition: 0.2s all ease-in-out;

            svg{
                path{
                    transition: 0.2s all ease-in-out;
                }
            }

            &:hover{
                transition: 0.2s all ease-in-out;
                border: 1px solid $main-color-2;
                color: $main-color-2;

                svg{
                    path{
                        transition: 0.2s all ease-in-out;
                        stroke: $main-color-2;
                    }
                }
            }
        }
    }
}

.flip-horizontal-top {
	-webkit-animation: flip-horizontal-top 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-horizontal-top 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

// WORK, IMAGE PAGE
.work{
    padding: $padding-all;
    background-color: $secondary-color;
    text-align: center;

    .title-box{
        padding: 2rem;
        font-family: $fira-code;
        display: flex;
        flex-direction: column;
        gap:1rem;
        
        .upper-title{
            letter-spacing: 6px;
            color: $main-color-2;
            font-size: 1rem;
            font-size: clamp(0.5rem, 0rem + 3vw, 1.3rem);
        }

        .title{
            font-size: 1rem;
            font-size: clamp(2rem, 0rem + 5vw, 2.5rem);
            letter-spacing: 9px;
            text-transform: uppercase;
        }
    }
}

// FOOTER

.footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: center;
    font-family: $fira-code;
    padding-top: $padding-top;
    gap: 4rem;

    .contact-us-text{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .upper-title{
            letter-spacing: 6px;
            color: $main-color-2;
            font-size: 1rem;
            font-size: clamp(0.5rem, 0rem + 3vw, 1.3rem);
        }

        .title{
            font-size: 1rem;
            font-size: clamp(2rem, 0rem + 5vw, 2.5rem);
            letter-spacing: 9px;
            text-transform: uppercase;
        }

        .subtitle{
            letter-spacing: 9px;
            color: $main-color-1;
            font-size: 1rem;
            font-size: clamp(0.5rem, 0rem + 3vw, 1.3rem);
        }
    }

    .info-box{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: $secondary-color;
        padding: $padding-all;
        
        .left-side{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            a{
                color:$main-color-1;
            }
        }

        .right-side{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: end;
        }
    }
}

// ANOTHER SIZERS , RESPONSIVE.

@media only screen and (max-width: 1096px){
    .home{
        .text-box{
            padding-top: 13rem;
            padding-bottom: 13rem;
        }

    }

    .about{
        flex-direction: column-reverse;
        padding-bottom: 5rem;
        
        .text-box{
            justify-content: center;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 600px){
    .home{
        background-image: url(../../Assets/another.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-blend-mode:multiply;
        .text-box{
            padding-top: 13rem;
            padding-bottom: 13rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .main-title-2{
            letter-spacing: 5px;
        }

        .social-box{
            display: flex;
            justify-content: center;
        }
    }

}

@media only screen and (max-width: 510px){
    .home{
        .text-box{
            padding-top: 12.5rem;
            padding-bottom: 12.5rem;
        }
        .main-title-1, .main-title-2{
            font-size: 2.3rem;
        }
        .subtitle{
            font-size: 0.7rem;
        }
    }

    .about{

        .avatar-box{
            border:1px solid $main-color-2;

            .design-square{
                width: 15rem;
                height: 15rem;

                    .avatar{
                        border:1px solid $main-color-2;
                        top:1rem;
                        left:1rem;

                        img{
                            width: 15rem;
                            height: 15rem;
                        }
                    }
            }
        }
        .text-box{
            .button-box{
                .see-more{
                    font-size: 0.9rem;
                    width: 9.35rem;
                    height:2.37rem;
                }
            }
        }
    }

    .abilities {
        .title-box{
            .upper-subtitle{
                letter-spacing: 2px;
            }

            .title{
                letter-spacing: 3px;
            }
        }
        
        .button-box {
            .find-more{
                font-size: 0.9rem;
                width: 9.35rem;
                height:2.37rem;
            }
        }
    }

    .work{
        .title-box{
            .upper-title{
                letter-spacing: 2px;
            }

            .title{
                letter-spacing: 3px;
            }
        }
    }

    .footer{
        .contact-us-text{
            .upper-title{
                letter-spacing: 2px;
            }

            .title{
                letter-spacing: 3px;
            }

            .subtitle{
                letter-spacing: 2px;
            }
        }
        .info-box{
            align-items: center;
            justify-content: center;
            gap: 2rem;
            text-align: center;
            .right-side{
                text-align: center;
            }

        }
    }

}

@media only screen and (max-width: 410px){
    .home{
        .text-box{
            padding-top: 13rem;
            padding-bottom: 13rem;
        }
        .main-title-1, .main-title-2{
            font-size: 2rem;
        }
    }
}

@media only screen and (max-width: 370px){
    .home{
        .text-box{
            padding-top: 8rem;
            padding-bottom: 8rem;
        }
        .main-title-1, .main-title-2{
            word-wrap: break-word;
            text-align: center;
        }
        .subtitle{
            word-wrap: break-word;
            text-align: center;
        }
    }
}