@import './src/variables.scss';
@import './src/animations.scss';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container{
    background: rgb(2,10,51);
    background: linear-gradient(45deg, rgba(2,10,51,1) 0%, rgba(71,30,124,1) 100%);
    font-family: $fira-code;
    
    .text{
        padding: $padding-all;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 4rem;
    }
}